@import url("../Page-Content.module.css");@import url(https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap);
body, .login-page{
  font-family:'Figtree', sans-serif;
}

.login-page {
    display: flex;
    justify-content: space-between; /* Align content to the left */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-color:white;
    margin: 0; /* Remove any default margin */
  }
  .landing-image{
    width:80%;
    vertical-align: middle;
    margin:auto;
    
  }
  .login-container {
    display: flex;
    justify-content: center; /* Align container to the left */
    align-items: center;
    height: 100vh;
    width:50vw;
     }
  
  .login-card {
    background: #fff;
    padding: 2rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
  }
  
  .login-title {
   display:flex;
   flex-direction:row;
   gap: 1rem;
   padding-bottom:2vh;
  }
   .brand{
    font-family: 'MuseoModerno', sans-serif;
    color: var(--Orange);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width:50%;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
    width:100%;
  }
  
  label {
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  input {
    width: 90%;
    padding: 5%;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1rem;
    margin-top:2vh;
  }
  
  .forgot-password {
  margin-top: 0.5rem;
  text-align: right;
}
.forgot-password a {
  color: #007bff;
  font-size: 0.9rem;
  text-decoration: none;
}
.forgot-password a:hover {
  text-decoration: underline;
}
  .login-button {
    background-color: var(--Orange);
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .login-footer {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #000;
  }
  
  .login-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }