:root {
  --DarkGreen: #283818;
  --LightGreen:#CECB78;
  --EmeraldGreen: #00674F;
  --Cream:#F5E6C5;
  --PaleBrown:#9F886F;
  --Orange:#D78B30;

}
.page-content{
    background: var(--DarkGreen);
    border-radius: 50px 0 0 50px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-right:3.55vw;
    padding-left: 3vw;
}



@media screen and (max-width: 1024px) {
    
  .page-title {
    font-size: 2rem;
    color:  var(--Cream);;
    text-align: left;
    padding:0;
    margin:0;
  }
}
  .page-header{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height:10%;
    justify-content: end;
    padding: 3vh 0 0 0;
  }
  
.page-title {
    font-size: 2.5rem;
    color:  var(--Cream);;
    text-align: left;
     padding:0;
    margin:0;
  }
  .page-title h1{
    padding:0;
    margin:0;
  }

  .title-divider {
    
    background-color: var(--Cream);
    width:100%;
  }