.vertical-nav {
    width: 15vw; /* Navigation bar takes 15% of the screen width */
    background: #fff;
    color: #000;
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh; /* Ensure the nav bar spans the full height */
    overflow: hidden;
  }
/*
Nav is poppins
Heading and other text is figtree

*/
  .nav-container{ 
    padding-top: 15vh;
    display: flex;
    margin-left: 3vw;;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    width: 100%;
    height: 100%;

  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .nav-item {
    padding: 0 0 0.5vw 2vw;
    width: 100%;
    cursor: pointer;
    text-align: left;
  }
  
  .nav-item:hover {
    background: #d2cdcd;
  }

  hr{
    color: #000;
    width: 50%;
    height: 0.5px;
    background-color: #000;
    left: 0;
  }

  .logo-container {
    display: flex;
    align-items: center;
    margin:auto;
    padding: 2vh 0 0 0;
  }