@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); /* Import Poppins font */

.vertical-nav {
    width: 15vw; /* Navigation bar takes 15% of the screen width */
    background: #fff;
    color: #000;
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh; /* Ensure the nav bar spans the full height */
    overflow: hidden;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.nav-container { 
    padding-top: 10vh;
    display: flex;
    margin-left: 1vw;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.nav-item {
    padding: 0 0 0.5vw 2vw;
    width: 100%;
    cursor: pointer;
    text-align: left;
    font-weight:lighter;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.nav-item:hover {
    font-weight: bold;
}

hr {
    color: #D78B30;
    width: 75%;
    height: 0.75px;
    background-color: #D78B30;
    margin-left: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 2vh 0 0 2vh;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}